/* nn-styles.css */
body {
    font-family: Georgia, serif;
    background-color: #faeace;
    color: #5a4a4a;
    margin: 1%;
    padding: 5%;
    overflow-x: hidden;
}

#controlPanel {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

h2 {
    color: #8c6d58;
}

label {
    color: #8c6d58;
}

button {
    background-color: #8c6d58;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #7a5d4c;
}

footer {
    margin-top: 20px;
    font-size: 14px;
}

a {
    color: #8c6d58;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#progressContainer {
    margin: 20px 0;
    width: 25%;
}

#progressBar {
    width: 100%;
    height: 20px;
}

#accuracyPlotContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

#accuracyPlot, #inputPlot, #transformedPlot {
    width: calc(33.333% - 10px);
    height: 500px;
}

.plot-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.plot-container .plotly {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


hr {
    border: none; /* Removes default border */
    height: 2px; /* Thickness of the line */
    background-color: #8c6d58; /* Color of the line */
    margin: 20px 0; /* Space above and below the line */
    width: 100%; /* Full width of the container */
}